@use '../var';

.footer{
    &__image{
        width: 100%;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    &__text{
        margin: 0 auto;
        background-color: var.$mimosaYellow;
        padding: 20px 0;
        p{
            font-size: 12px;
            text-align: center;
            color: var.$darkGray;
            font-family: "Noto Sans";
        }
    }

}