@use '../var';

.main-content{
    width: 100%;
}

.first-view{
    background: url('../media/firstView.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;

    display: flex;
    flex-direction: row;
    &__header{
        width: 120%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-sub{
            padding-top: 32px;
            padding-left: 32px;
        }
        &-sub.frame{
            position: relative;
            padding-top: 30px;
            padding-left: 50px;
            padding-bottom: 30px;
        }      
        &-subtitle.frame::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 73px;
            height: 120px;
            border-top: 1px solid var.$sunshineYellow;
            border-left: 1px solid var.$sunshineYellow;
        }
        &-subtitle.frame::after{
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            width: 73px;
            height: 120px;
            border-bottom: 1px solid var.$sunshineYellow;
            border-right: 1px solid var.$sunshineYellow;
        }
        &-subtitle{
            font-family: "Noto Sans JP";
            color: var.$darkGray;
            &.subtitle-1{
                font-size: 48px;
                margin-bottom: 40px;
                span{
                    font-size: 24px;
                }
            }
            &.subtitle-2{
                font-size: 88px;
            }
    
        }
        &-main{
            font-size: 72px;
            color: var.$sunshineYellow;
            padding-left: 32px;
            padding-bottom: 32px;
        }
    }
    &__content{
        width: 80%;
    }
}