@use '../var';

.main-content{
    width: 100%;
}

.first-view{
    background: url('../media/firstView.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 810px;

    display: flex;
    flex-direction: row;
    &__header{
        width: 120%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-sub{
            padding-top: 32px;
            padding-left: 32px;
            &.frame{
                position: relative;
                padding-top: 32px;
                padding-left: 50px;
                padding-bottom: 32px;
                padding-right: 44px;
                display: inline-grid;
            }
            &.frame::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 73px;
                height: 120px;
                border-top: 1px solid var.$sunshineYellow;
                border-left: 1px solid var.$sunshineYellow;
            }
            .frame::after{
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                width: 73px;
                height: 120px;
                border-bottom: 1px solid var.$sunshineYellow;
                border-right: 1px solid var.$sunshineYellow;
            }
            &--subtitle{
                font-family: "Noto Sans JP";
                color: var.$darkGray;
                &.subtitle-1{
                    font-size: 48px;
                    margin-bottom: 40px;
                    span{
                        font-size: 24px;
                    }
                }
                &.subtitle-2{
                    font-size: 88px;
                }        
            }      
        }
        &-main{
            font-size: 72px;
            color: var.$sunshineYellow;
            padding-left: 32px;
            padding-bottom: 32px;
            text-shadow: 
                3px 3px 0px rgba(255, 255, 255, 0.8),
                3px 3px 8px rgba(0, 0, 0, 0.3);
        }
    }
    &__content{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 70px;
        &-features{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-feature{
            border: 1px solid var.$sunshineYellow;
            width: 50%;
            position: relative;
            min-width: 190px;
            &-text{
                text-align: center;
                font-size: 16px;
                color: var.$darkGray;
                span{
                    font-size: 32px;
                }
            }
            &.licence{
                margin-bottom: 7px;
                padding: 24px 20px 14px;
                transform: translate(-120px, 38px);
                &::before{
                    position: absolute;
                    top: 14px;
                    left: 9px;
                    width: 100%;
                    height: 100%;
                    content: "";
                    border: 1px solid var.$mimosaYellow;
    
                }
            }
            &.skill{
                padding: 12px 43px 24px;
                transform: translateX(50px);
                &::before{
                    position: absolute;
                    top: -12px;
                    left: -14px;
                    width: 100%;
                    height: 100%;
                    content: "";
                    border: 1px solid var.$mimosaYellow;
    
                }
            }
        }
   
        &-cta{
            margin-top: 58px;
            &-link{
                position: relative;
                font-size: 32px;
                color: var.$white;
                background-color: var.$mintGreen;
                padding: 20px 36px 18px;
                border-radius: 8px;
                &::after{
                    position: absolute;
                    width: 56px;
                    height: 56px;
                    content: '';
                    top: 52px;
                    right: -32px;
                    background: url('../media/arrow.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            &-icon{
                position: absolute;
                bottom: -46px;
                right: 49px;
                width: 56px;
                height: 56px;
                img{
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width:760px) {
    .first-view{
        flex-direction: column;
        background: none;
        &__header{
            width: 100%;
            background: url('../media/firstView_01.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding-bottom: 14px;
            &-sub{
                padding: 0;
                margin: 30px auto 100px;
                &--subtitle{
                    &.subtitle-1{
                        font-size: 24px;
                        margin-bottom: 8px;
                        span{
                            font-size: 16px;
                        }
                    }
                    &.subtitle-2{
                        font-size: 32px;
                    }        
                }
                &.frame{
                    padding-top: 18px;
                    padding-left: 20px;
                    padding-bottom: 12px;
                    padding-right: 24px;
                    text-align: center;
                    &::before{
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 38px;
                    }
                    &::after{
                        bottom: 0;
                        right: 0;
                        width: 18px;
                        height: 38px;
                    }
                    }
            }
            &-main{
                font-size: 56px;
                padding: 0;
                margin: 0 auto;
                text-shadow: 
                    3px 3px 0px rgba(255, 255, 255, 0.8),
                    3px 3px 8px rgba(0, 0, 0, 0.3);
            }
        }
        &__content{
            width: 100%;
            background: url('../media/firstView_02.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding-top: 20px;
            padding-bottom: 32px;
            &-features{
                flex-direction: row;
                justify-content: space-around;
            }
            &-feature{
                border: 1px solid var.$sunshineYellow;
                width: 50%;
                min-width: 0;
                width: 163px;
                &-text{
                    font-size: 14px;
                    span{
                        font-size: 24px;
                    }
                }
                &.licence{
                    transform: none;
                    padding: 30px 13px 6px 20px;
                    margin: 0;
                    z-index: 1;
                    &::before{
                        background-color: rgb(255, 255, 255, 0.5);
                        z-index: 0;
                    }
                }
                &.skill{
                    transform: none;
                    padding: 30px 13px 6px 20px;
                    border: 1px solid var.$mimosaYellow;
                    &::before{
                        top: 15px;
                        left: 10px;
                        border: 1px solid var.$sunshineYellow;
                    }
                }
            }

               
        &-cta{
            margin-top: 120px;
            display: flex;
            justify-content: center;
            &-link{
                font-size: 24px;
                padding: 14px 30px 12px;

                &::after{
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    content: '';
                    top: 37px;
                    right: -18px;
                }
            }
            &-icon{
                position: absolute;
                bottom: -46px;
                right: 49px;
                width: 56px;
                height: 56px;
                img{
                    width: 100%;
                }
            }
        }
        }
    }
}