@use '../var';

// お悩み
.trouble {
    padding-top: 150px;
    &__header {
        text-align: center;
        margin-bottom: 12px;
        transform: translateY(-35px);
        background-color: var.$white;
        width: 70%;
        min-width: 600px;
        margin: 0 auto;
    }
    
    &__header-tag {
        position: absolute;
        top: -20px;
        left: 60px;       
        width: 120px;
        color: var.$darkGray;
        font-size: 16px;
        margin-bottom: 5px;
        text-align-last: left;
        span{
            font-size: 8px;
        }
        &.sp{
            display: none;
        }
    }
    
    &__header-title {
        font-size: 32px;
        color: var.$darkGray;
        position: relative;
        display: inline-block;
        span.check{
            display: inline-block;
            width: 50px;
            height: 50px;
            transform: translateY(10px);
            position: relative;
            img{
                width: 100%;
            }
        }
    }
    
    &__question-box {
        border: 2px solid var.$sunshineYellow;
        width: 90%;
        margin: 0 auto;
    }
    
    &__question-text {
        transform: translateY(-25px);
        font-family: "Noto Sans JP";
        text-align: center;
        padding: 10px;
        margin: 0;
        font-size: 48px;
        .sp{
            display: none;
        }
    }
    
    &__highlight {
        color: var.$orangeRed;
    }
    
    &__concerns-container {
        position: relative;
        margin-top: 100px;
        height: 670px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    &__person-image {
        height: 430px;
    }
    
    &__speech-bubble {
        position: absolute;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 25px 20px;
        height: 175px;
        width: 280px;
        font-size: 14px;
        color: var.$darkGray;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .check{
            display: none;
            width: 20px;
            height: 20px;
            img{
                width: 100%;
            }
        }
    }
    
    &__bubble-1 {
        background-image: url('../media/bubble1.png');
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__bubble-2 {
        background-image: url('../media/bubble2.png');
        top: 25%;
        left: 50px;
    }
    
    &__bubble-3 {
        background-image: url('../media/bubble3.png');
        top: 68%;
        left: 2%;
    }
    
    &__bubble-4 {
        background-image: url('../media/bubble4.png');
        top: 25%;
        right: 50px;
    }
    
    &__bubble-5 {
        background-image: url('../media/bubble5.png');
        top: 68%;
        right: 2%;
    }

    @media (max-width: 1390px) {
        &__question-text{
            .sp{
                display: block;
            }
        }
    }

    @media (max-width: 1200px) {
        &__concerns-container{
            height: 470px;
            margin-top: 50px;
        }
        &__person-image {
            height: 300px;
        }
        &__speech-bubble {
            padding: 10px 5px;
            height: 150px;
            width: 260px;
        }

        &__bubble-2 {
            left: 20px;
        }
        
        &__bubble-4 {
            right: 20px;
        }
    }

    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 50px;
        &__header{
            min-width: 0;
            transform: translateY(8px);
        }
        &__question-box{
            height: 160px;
        }
        &__header-tag{
            background-color: var.$white;
            left: 50%;
            transform: translateX(-50%);
            .pc{
                display: none;
            }
            .sp{
                display: inline-block;
                text-align: center;
            }
        }
        &__header-title{
            font-size: 16px;
            margin-top: 10px;
            span.check{
                display: none;
            }
            span.sp-fontsize{
                font-size: 12px;
            }
        }
        &__question-text{
            font-size: 32px;
            transform: translateY(15px);
            .sp-fontsize{
                font-size: 24px;
            }
        }
        &__highlight {
            font-size: 40px;
        }


        &__concerns-container {
            min-height: 600px;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
        }
        
        &__speech-bubble {
            position:static;
            margin: 15px auto;
            padding: 25px 30px;
            width: 90%;
            height: 70px;
            max-width: 100%;
            background-image: none;
            transform: none;
            border: 2px solid var.$sunshineYellow;
            border-radius: 8px;
            text-align-last: left;
            .check{
                display: block;
                margin-right: 20px;
            }
        }    
    }
}