@charset "UTF-8";
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.container.open {
  display: block;
  position: relative;
}

.apply-button {
  display: inline-block;
  background-color: #2FB191;
  margin: 0 auto;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: normal;
  font-size: 32px;
  position: relative;
}
.apply-button-text {
  padding: 5px 15px;
}

.arrow-icon {
  position: absolute;
  right: -30px;
  top: 64%;
  width: 50px;
  height: 50px;
  background-image: url("../media/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.side-nav {
  width: 350px;
  background-color: #F8DD49;
}
.side-nav__content {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-nav__logo {
  display: flex;
}
.side-nav__logo-image img {
  width: 50px;
}
.side-nav__logo-text {
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  margin-left: 20px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 400;
}
.side-nav__title {
  margin-top: 8px;
  font-size: 32px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 400;
}
.side-nav__menu {
  margin-top: 52px;
  color: #FFFFFF;
}
.side-nav__menu-item {
  margin-bottom: 54px;
}
.side-nav__menu-title {
  font-family: "Noto Sans";
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.side-nav__menu-description {
  font-size: 16px;
}
.side-nav__image {
  width: 70%;
}
.side-nav__image img {
  width: 100%;
}

.hamburger-menu {
  display: none;
  position: absolute;
  right: 16px;
}

@media screen and (max-width: 760px) {
  .container {
    display: block;
  }
  .side-nav {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
  .hamburger-menu .bar {
    width: 100%;
    height: 2px;
    background-color: #FEB215;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .container.open .side-nav {
    z-index: 10;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .container.open .side-nav__image {
    width: 40%;
  }
  .container.open .side-nav__image img {
    width: 100%;
  }
  .container.open .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
  .container.open .hamburger-menu .bar {
    background-color: #333333;
    transition: all 0.3s ease;
  }
  .container.open .hamburger-menu .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg); /* 上のバーを45度回転 */
  }
  .container.open .hamburger-menu .bar:nth-child(2) {
    opacity: 0; /* 中央のバーを非表示にする */
  }
  .container.open .hamburger-menu .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg); /* 下のバーを-45度回転 */
  }
}
.main-content {
  width: 100%;
}

.first-view {
  background: url("../media/firstView.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 810px;
  display: flex;
  flex-direction: row;
}
.first-view__header {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-view__header-sub {
  padding-top: 32px;
  padding-left: 32px;
}
.first-view__header-sub.frame {
  position: relative;
  padding-top: 32px;
  padding-left: 50px;
  padding-bottom: 32px;
  padding-right: 44px;
  display: inline-grid;
}
.first-view__header-sub.frame::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 73px;
  height: 120px;
  border-top: 1px solid #FEB215;
  border-left: 1px solid #FEB215;
}
.first-view__header-sub .frame::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 73px;
  height: 120px;
  border-bottom: 1px solid #FEB215;
  border-right: 1px solid #FEB215;
}
.first-view__header-sub--subtitle {
  font-family: "Noto Sans JP";
  color: #333333;
}
.first-view__header-sub--subtitle.subtitle-1 {
  font-size: 48px;
  margin-bottom: 40px;
}
.first-view__header-sub--subtitle.subtitle-1 span {
  font-size: 24px;
}
.first-view__header-sub--subtitle.subtitle-2 {
  font-size: 88px;
}
.first-view__header-main {
  font-size: 72px;
  color: #FEB215;
  padding-left: 32px;
  padding-bottom: 32px;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.8), 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.first-view__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 70px;
}
.first-view__content-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-view__content-feature {
  border: 1px solid #FEB215;
  width: 50%;
  position: relative;
  min-width: 190px;
}
.first-view__content-feature-text {
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.first-view__content-feature-text span {
  font-size: 32px;
}
.first-view__content-feature.licence {
  margin-bottom: 7px;
  padding: 24px 20px 14px;
  transform: translate(-120px, 38px);
}
.first-view__content-feature.licence::before {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #F8DD49;
}
.first-view__content-feature.skill {
  padding: 12px 43px 24px;
  transform: translateX(50px);
}
.first-view__content-feature.skill::before {
  position: absolute;
  top: -12px;
  left: -14px;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #F8DD49;
}
.first-view__content-cta {
  margin-top: 58px;
}
.first-view__content-cta-link {
  position: relative;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #2FB191;
  padding: 20px 36px 18px;
  border-radius: 8px;
}
.first-view__content-cta-link::after {
  position: absolute;
  width: 56px;
  height: 56px;
  content: "";
  top: 52px;
  right: -32px;
  background: url("../media/arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.first-view__content-cta-icon {
  position: absolute;
  bottom: -46px;
  right: 49px;
  width: 56px;
  height: 56px;
}
.first-view__content-cta-icon img {
  width: 100%;
}

@media screen and (max-width: 760px) {
  .first-view {
    flex-direction: column;
    background: none;
  }
  .first-view__header {
    width: 100%;
    background: url("../media/firstView_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 14px;
  }
  .first-view__header-sub {
    padding: 0;
    margin: 30px auto 100px;
  }
  .first-view__header-sub--subtitle.subtitle-1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .first-view__header-sub--subtitle.subtitle-1 span {
    font-size: 16px;
  }
  .first-view__header-sub--subtitle.subtitle-2 {
    font-size: 32px;
  }
  .first-view__header-sub.frame {
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-right: 24px;
    text-align: center;
  }
  .first-view__header-sub.frame::before {
    top: 0;
    left: 0;
    width: 18px;
    height: 38px;
  }
  .first-view__header-sub.frame::after {
    bottom: 0;
    right: 0;
    width: 18px;
    height: 38px;
  }
  .first-view__header-main {
    font-size: 56px;
    padding: 0;
    margin: 0 auto;
    text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.8), 3px 3px 8px rgba(0, 0, 0, 0.3);
  }
  .first-view__content {
    width: 100%;
    background: url("../media/firstView_02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 32px;
  }
  .first-view__content-features {
    flex-direction: row;
    justify-content: space-around;
  }
  .first-view__content-feature {
    border: 1px solid #FEB215;
    width: 50%;
    min-width: 0;
    width: 163px;
  }
  .first-view__content-feature-text {
    font-size: 14px;
  }
  .first-view__content-feature-text span {
    font-size: 24px;
  }
  .first-view__content-feature.licence {
    transform: none;
    padding: 30px 13px 6px 20px;
    margin: 0;
    z-index: 1;
  }
  .first-view__content-feature.licence::before {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
  }
  .first-view__content-feature.skill {
    transform: none;
    padding: 30px 13px 6px 20px;
    border: 1px solid #F8DD49;
  }
  .first-view__content-feature.skill::before {
    top: 15px;
    left: 10px;
    border: 1px solid #FEB215;
  }
  .first-view__content-cta {
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }
  .first-view__content-cta-link {
    font-size: 24px;
    padding: 14px 30px 12px;
  }
  .first-view__content-cta-link::after {
    position: absolute;
    width: 35px;
    height: 35px;
    content: "";
    top: 37px;
    right: -18px;
  }
  .first-view__content-cta-icon {
    position: absolute;
    bottom: -46px;
    right: 49px;
    width: 56px;
    height: 56px;
  }
  .first-view__content-cta-icon img {
    width: 100%;
  }
}
.trouble {
  padding-top: 150px;
}
.trouble__header {
  text-align: center;
  margin-bottom: 12px;
  transform: translateY(-60px);
  background-color: #FFFFFF;
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
}
.trouble__header-tag {
  color: #333333;
  font-size: 16px;
  margin-bottom: 5px;
}
.trouble__header-tag span {
  font-size: 8px;
}
.trouble__header-title {
  font-size: 32px;
  color: #333333;
  position: relative;
  display: inline-block;
}
.trouble__header-title span.check {
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: translateY(10px);
}
.trouble__header-title span.check img {
  width: 100%;
}
.trouble__question-box {
  border: 2px solid #FEB215;
  width: 90%;
  margin: 0 auto;
}
.trouble__question-text {
  transform: translateY(-40px);
  font-family: "Noto Sans JP";
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 48px;
}
.trouble__question-text .sp {
  display: none;
}
.trouble__highlight {
  color: #FB3A00;
}
.trouble__concerns-container {
  position: relative;
  margin-top: 100px;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.trouble__person-image {
  height: 430px;
}
.trouble__speech-bubble {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 25px 20px;
  height: 210px;
  width: 290px;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}
.trouble__speech-bubble .check {
  display: none;
  width: 20px;
  height: 20px;
}
.trouble__speech-bubble .check img {
  width: 100%;
}
.trouble__bubble-1 {
  background-image: url("../media/bubble1.png");
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.trouble__bubble-2 {
  background-image: url("../media/bubble2.png");
  top: 25%;
  left: 74px;
}
.trouble__bubble-3 {
  background-image: url("../media/bubble3.png");
  top: 68%;
  left: 4%;
}
.trouble__bubble-4 {
  background-image: url("../media/bubble4.png");
  top: 25%;
  right: 74px;
}
.trouble__bubble-5 {
  background-image: url("../media/bubble5.png");
  top: 68%;
  right: 4%;
}
@media (max-width: 768px) {
  .trouble {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .trouble__header {
    min-width: 0;
    transform: translateY(-14px);
  }
  .trouble__header-tag {
    background-color: #FFFFFF;
  }
  .trouble__header-title {
    font-size: 16px;
  }
  .trouble__header-title span.check {
    display: none;
  }
  .trouble__header-title span.sp-fontsize {
    font-size: 12px;
  }
  .trouble__question-text {
    font-size: 32px;
    transform: translateY(-8px);
  }
  .trouble__question-text .sp {
    display: block;
  }
  .trouble__question-text .sp-fontsize {
    font-size: 24px;
  }
  .trouble__highlight {
    font-size: 40px;
  }
  .trouble__concerns-container {
    min-height: 600px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .trouble__speech-bubble {
    position: static;
    margin: 15px auto;
    padding: 25px 30px;
    width: 90%;
    height: 70px;
    max-width: 100%;
    background-image: none;
    transform: none;
    border: 2px solid #FEB215;
    border-radius: 8px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .trouble__speech-bubble .check {
    display: block;
    margin-right: 20px;
  }
}

.chance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 140px;
}
.chance .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.chance__header {
  text-align: center;
  color: #FB3A00;
  font-size: 72px;
  font-weight: normal;
  height: 155px;
  line-height: 155px;
  margin-bottom: 140px;
  position: relative;
  background-color: #FEFCEB;
}
.chance__header::after {
  position: absolute;
  bottom: -80px;
  left: 50%;
  content: "";
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 80px solid #FEFCEB;
  transform: translateX(-50%);
}
.chance__support-bar {
  background-color: #FEB215;
  color: #FFFFFF;
  width: 95%;
  margin: 0 auto;
  padding: 18px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
}
.chance__support-bar .sp {
  display: none;
}
.chance__support-bar span.fontsize {
  font-size: 16px;
}
.chance__support-bar::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 99%;
  height: 90%;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
}
.chance__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.chance__feature {
  width: calc(33.33% - 20px);
  height: 200px;
  background-image: url("../media/support_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #333333;
}
.chance__feature-title {
  font-size: 24px;
  margin-bottom: 5px;
}
.chance__feature.feature-1 .chance__feature-value {
  font-size: 56px;
}
.chance__feature.feature-1 .chance__feature-value span {
  font-size: 24px;
}
.chance__feature.feature-1 .chance__feature-subtitle {
  line-height: 20px;
  font-size: 12px;
}
.chance__feature.feature-2 .chance__feature-title, .chance__feature.feature-3 .chance__feature-title, .chance__feature.feature-4 .chance__feature-title {
  margin-bottom: 18px;
}
.chance__feature.feature-2 .chance__feature-title span, .chance__feature.feature-3 .chance__feature-title span, .chance__feature.feature-4 .chance__feature-title span {
  font-size: 14px;
}
.chance__feature.feature-2 .chance__feature-value, .chance__feature.feature-3 .chance__feature-value, .chance__feature.feature-4 .chance__feature-value {
  font-size: 40px;
}
.chance__feature.feature-2 .chance__feature-value span, .chance__feature.feature-3 .chance__feature-value span, .chance__feature.feature-4 .chance__feature-value span {
  font-size: 24px;
  font-weight: normal;
}
.chance__feature.feature-5 .chance__feature-title {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 18px;
}
.chance__feature.feature-5 .chance__feature-value {
  font-size: 40px;
  margin-bottom: 16px;
}
.chance__feature.feature-5 .chance__feature-subtitle {
  font-size: 24px;
}
.chance__apply-button {
  display: inline-block;
  background-color: #2FB191;
  margin: 0 auto;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: normal;
  font-size: 32px;
  position: relative;
}
.chance__apply-button-text {
  padding: 5px 15px;
}
.chance__arrow-icon {
  position: absolute;
  right: -30px;
  top: 64%;
  width: 50px;
  height: 50px;
  background-image: url("../media/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .chance {
    padding-bottom: 70px;
  }
  .chance__header {
    font-size: 40px;
    height: 110px;
    line-height: 110px;
    margin-bottom: 60px;
  }
  .chance__header::after {
    bottom: -30px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 30px solid #FEFCEB;
  }
  .chance__support-bar {
    font-size: 21px;
    line-height: 30px;
  }
  .chance__support-bar .sp {
    display: inline-block;
  }
  .chance__support-bar span.sp {
    font-size: 14px;
  }
  .chance__support-bar span.fontsize {
    font-size: 14px;
  }
  .chance__support-bar::after {
    width: 97%;
  }
  .chance__features {
    display: block;
    position: relative;
    height: 720px;
    width: 490px;
    margin: 0 auto;
  }
  .chance__feature {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    left: 50%;
  }
  .chance__feature.feature-1 {
    top: 0px;
    transform: translateX(-80%);
  }
  .chance__feature.feature-2 {
    top: 120px;
    transform: translateX(-20%);
  }
  .chance__feature.feature-3 {
    top: 240px;
    transform: translateX(-80%);
  }
  .chance__feature.feature-4 {
    top: 360px;
    transform: translateX(-20%);
  }
  .chance__feature.feature-5 {
    top: 480px;
    transform: translateX(-80%);
  }
  .chance .feature-value {
    font-size: 1.5rem;
  }
  .chance .header {
    font-size: 2rem;
  }
}

.strengths {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 130px;
}
.strengths .apply-button {
  margin-top: 100px;
}

.strengths__header {
  text-align: center;
  font-size: 32px;
  border-top: 1px solid #FEB215;
  border-bottom: 1px solid #FEB215;
  width: 50%;
  margin: 0 auto;
  padding: 22px 0;
}

.strengths__title {
  font-size: 72px;
  color: #FB3A00;
  margin-top: 42px;
  margin-bottom: 116px;
  font-weight: bold;
  text-align: center;
}

.strengths__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 50px;
}

.strengths__box {
  padding: 50px 12px 36px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.strengths__image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strengths__number {
  font-size: 80px;
  font-weight: bold;
  color: #FEB215;
  font-family: "Alfa Slab One";
  letter-spacing: 13px;
  text-align: center;
  margin-bottom: 55px;
}

.strengths__title-sub {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 38px;
}

.strengths__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.strengths__text {
  font-size: 14px;
  line-height: 28px;
}

.strengths__image {
  max-width: 100%;
  height: auto;
  border: 1px solid #eee;
}

.strengths__button {
  margin-top: 24px;
  padding: 15px 20px;
  font-size: 24px;
  background-color: #FEB215;
  color: #FFFFFF;
  font-weight: normal;
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .strengths__header {
    font-size: 24px;
    width: 90%;
  }
  .strengths__title {
    font-size: 40px;
    margin-top: 32px;
    margin-bottom: 108px;
  }
  .strengths__title-sub {
    font-size: 21px;
  }
  .strengths__button {
    font-size: 21px;
  }
  .strengths__container {
    grid-template-columns: 1fr;
  }
}
.features {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 140px;
}
.features__header {
  text-align: center;
  margin-bottom: 100px;
}
.features__header-title {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.features__header-title::before {
  position: absolute;
  top: -12px;
  left: -45px;
  content: "";
  width: 35px;
  height: 50px;
  background-image: url("../media/headersideline_before.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.features__header-title::after {
  position: absolute;
  top: -12px;
  right: -45px;
  content: "";
  width: 35px;
  height: 50px;
  background-image: url("../media/headersideline_after.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.features__header-text {
  font-size: 24px;
  color: #333333;
  margin: 0;
}
.features__title {
  font-size: 72px;
  color: #FB3A00;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.features__section {
  display: flex;
  padding: 30px 20px;
  gap: 40px;
  border: 2px solid #FEB215;
  border-radius: 10px;
  margin-bottom: 50px;
}
.features__content {
  width: 50%;
}
.features__title-box {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 48px;
  text-align: center;
}
.features__title-box span.large {
  font-size: 48px;
}
.features__title-box span.small {
  font-size: 12px;
}
.features__title-box span.highlight {
  color: #FB3A00;
}
.features__text {
  font-size: 14px;
  margin-bottom: 15px;
}
.features__schedule {
  width: 50%;
  /* ヘッダーの2行目（午前、午後、夕方以降）の背景色 */
}
.features__schedule-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.features__schedule-table thead tr:nth-child(1) th {
  background-color: #FEB215;
  color: #fff;
  padding: 8px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
  font-weight: normal;
  border-left: 1px solid #FEB215;
  border-right: 1px solid #FEB215;
  border-top: 1px solid #FEB215;
}
.features__schedule-table tbody tr:nth-child(1) td {
  border-top: 1px solid #FEB215;
}
.features__schedule-table tbody tr:nth-child(1) td:nth-child(1) {
  border-left: 1px solid #FEB215;
}
.features__schedule-table tbody tr:nth-child(2) td {
  border-bottom: 1px solid #FEB215;
}
.features__schedule-table tbody tr:nth-child(2) td:nth-child(1) {
  border-left: 1px solid #FEB215;
}
.features__schedule-table tbody tr:nth-child(2) td:first-child {
  border-bottom-left-radius: 5px;
}
.features__schedule-table tbody tr:nth-child(2) td:last-child {
  border-bottom-right-radius: 5px;
}
.features__schedule-table td {
  border-right: 1px solid #FEB215;
  padding: 8px;
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  width: 33%;
}
.features__schedule-table thead tr:nth-child(2) th {
  background-color: #F8DD49;
  color: #333333;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 0;
  border-left: 1px solid #F8DD49;
  border-right: 1px solid #F8DD49;
}
.features__hotel-title {
  text-align: center;
  width: 50%;
  font-size: 24px;
  font-weight: normal;
}
.features__hotel-title p span.small {
  font-size: 12px;
}
.features__hotel-title p span.highlight {
  color: #FB3A00;
}
.features__hotel-title p span.sp {
  display: none;
}
.features__hotel-name {
  font-size: 24px;
  font-weight: normal;
  margin-top: 37px;
  text-align: center;
}
.features__hotel-text {
  font-size: 14px;
  margin-top: 48px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.features__hotel-text p {
  line-height: 27px;
}
.features__hotel-button {
  display: inline-block;
  background-color: #FEB215;
  color: #FFFFFF;
  font-size: 24px;
  padding: 15px 20px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 15px;
}
.features__hotel-button.sp {
  display: none;
}
.features__hotel-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.features__price-left {
  width: 50%;
  text-align: center;
}
.features__price-title {
  font-size: 24px;
  margin-bottom: 12px;
}
.features__price-amount {
  font-size: 24px;
  margin-bottom: 55px;
}
.features__price-amount span.large {
  font-size: 48px;
}
.features__price-amount span.small {
  font-size: 14px;
}
.features__price-amount span.highlight {
  color: #FB3A00;
}
.features__price-content {
  width: 50%;
}
.features__price-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__price-text {
  text-align: left;
  font-size: 14px;
  line-height: 27px;
}
.features__button-container {
  margin-top: 100px;
  display: flex;
}
@media (max-width: 768px) {
  .features {
    padding-bottom: 70px;
  }
  .features__header {
    margin-bottom: 50px;
  }
  .features__header-title {
    margin-bottom: 32px;
  }
  .features__header-title::before {
    left: -34px;
  }
  .features__header-title::after {
    right: -34px;
  }
  .features__header-text {
    font-size: 21px;
  }
  .features__title {
    font-size: 40px;
  }
  .features__title-box {
    font-size: 21px;
  }
  .features__title-box span.large {
    font-size: 40px;
  }
  .features__section {
    flex-direction: column;
    padding: 40px 8px 0;
    gap: 35px;
  }
  .features__content {
    width: 100%;
  }
  .features__schedule {
    width: 100%;
  }
  .features__schedule-table {
    margin-bottom: 32px;
  }
  .features__hotel-title {
    font-size: 21px;
    width: 100%;
  }
  .features__hotel-title p {
    -moz-text-align-last: left;
         text-align-last: left;
    line-height: 32px;
  }
  .features__hotel-title p span.sp {
    display: inline-block;
  }
  .features__hotel-title > p {
    padding: 0 50px;
  }
  .features__hotel-name {
    font-size: 21px;
    margin-top: 8px;
    padding: 0 50px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .features__hotel-text {
    margin-top: 38px;
  }
  .features__hotel-text p {
    font-size: 12px;
    line-height: 28px;
  }
  .features__hotel-button.pc {
    display: none;
  }
  .features__hotel-button.sp {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .features__hotel-content {
    width: 100%;
    flex-direction: column;
  }
  .features__price-left {
    width: 100%;
  }
  .features__price-title {
    font-size: 21px;
    margin-bottom: 8px;
  }
  .features__price-amount {
    font-size: 21px;
    margin-bottom: 40px;
  }
  .features__price-amount span.large {
    font-size: 40px;
  }
  .features__price-text {
    font-size: 12px;
  }
  .features__price-content {
    width: 100%;
    margin-bottom: 30px;
  }
  .features__button-container {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .features__content {
    flex-direction: column;
  }
}
.courses {
  padding-bottom: 130px;
}
.courses__header {
  text-align: center;
  margin-bottom: 100px;
}
.courses__title {
  color: #333333;
  font-size: 32px;
  padding: 36px 0;
  position: relative;
  border-top: 1px solid #FEB215;
  border-bottom: 1px solid #F8DD49;
  width: 50%;
  margin: 0 auto;
}
.courses__title::before, .courses__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
}
.courses__title::before {
  top: 10px;
  background: #F8DD49;
}
.courses__title::after {
  bottom: 10px;
  background: #FEB215;
}
.courses__banner {
  background-color: #FEB215;
  padding: 20px 0;
  width: 90%;
  max-width: 670px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.courses__banner-text {
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.courses__banner-text .sp {
  display: none;
}
.courses__banner-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses__banner-icon img {
  width: 20px;
  height: 20px;
}
.courses__banner-icon.sp {
  display: none;
}
.courses__container {
  display: flex;
  justify-content: space-between;
  height: 380px;
  max-width: 664px;
  margin: 0 auto 100px;
}
.courses__box {
  border: 1px solid #FEB215;
  padding: 64px 0;
  border-radius: 5px;
  max-width: 350px;
  width: 350px;
  height: 250px;
  text-align: center;
  position: relative;
  transform: translate(15px, 0px);
  z-index: 2;
}
.courses__box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 95%;
  height: 95%;
  border: 3px dotted #FEB215;
  border-radius: 5px;
}
.courses__box-title {
  font-size: 21px;
  line-height: 32px;
}
.courses__box-subtitle {
  font-weight: normal;
  font-size: 32px;
  margin-top: 10px;
}
.courses__box-subtitle span.small {
  font-size: 21px;
}
.courses__exemption-box {
  background-color: #FEB215;
  padding: 64px 0;
  border-radius: 5px;
  width: 350px;
  max-width: 350px;
  height: 250px;
  text-align: center;
  position: relative;
  z-index: 1;
  transform: translate(-15px, 120px);
}
.courses__exemption-box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 95%;
  height: 95%;
  border: 3px dotted #FFFFFF;
  border-radius: 5px;
}
.courses__exemption-box-title {
  font-size: 21px;
  color: #FFFFFF;
  line-height: 42px;
}
.courses__exemption-box-subtitle {
  font-size: 21px;
  color: #FFFFFF;
}
.courses__exemption-box-subtitle span.large {
  font-size: 48px;
}
.courses__schedule-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  max-width: 670px;
  margin: 0 auto 65px;
}
.courses__schedule-table.sp {
  display: none;
}
.courses__schedule-table tr:nth-child(2) th, .courses__schedule-table tr:nth-child(3) td {
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  padding: 15px 0;
  border: 1px solid #FEB215;
}
.courses__schedule-table tr:nth-child(2) th {
  background-color: #F8DD49;
}
.courses__schedule-table tr:nth-child(3) td span {
  font-family: "Noto Sans";
  font-weight: bold;
}
.courses__schedule-table tr:nth-child(3) td:first-child {
  border-bottom-left-radius: 5px;
}
.courses__schedule-table tr:nth-child(3) td:last-child {
  border-bottom-right-radius: 5px;
}
.courses__section-title {
  background-color: #FEB215;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-weight: normal;
}
.courses__curriculum {
  width: 80%;
  max-width: 670px;
  margin: 0 auto 50px;
}
.courses__curriculum-title {
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #FFFFFF;
  text-align: center;
  background-color: #FEB215;
}
.courses__curriculum-list {
  list-style-type: none;
}
.courses__curriculum-item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.courses__curriculum-item:nth-child(even) {
  display: none;
}
.courses__curriculum-dot {
  width: 20px;
  height: 20px;
  background-color: #FEB215;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}
.courses__curriculum-text {
  flex-shrink: 0;
  font-size: 14px;
}
.courses__curriculum-line {
  flex-grow: 0.5;
  height: 1px;
  margin-left: 20px;
  width: 80%;
  background-color: #FEB215;
}
.courses__curriculum-time {
  flex-shrink: 0;
  text-align: right;
  min-width: 50px;
}
.courses__price {
  width: 80%;
  max-width: 670px;
  margin: 0 auto 65px;
}
.courses__price-title {
  font-size: 24px;
  font-weight: normal;
  padding: 16px 0;
  border-radius: 5px;
  margin-bottom: 50px;
  color: #FFFFFF;
  text-align: center;
  background-color: #FEB215;
}
.courses__price-value {
  font-size: 80px;
  font-family: "Alfa Slab One";
  letter-spacing: 10px;
  margin: 0 auto;
  text-align: center;
}
.courses__price-unit {
  font-size: 40px;
  color: #333333;
}
.courses__price-includes {
  border: 1px solid #FEB215;
  padding: 30px 0;
  text-align: center;
  margin: 50px 0 100px;
  font-size: 16px;
  position: relative;
}
.courses__price-includes-title {
  position: absolute;
  top: -12px;
  left: 40px;
  background-color: #FFFFFF;
  padding: 0 40px;
}
.courses__price-includes .sp {
  display: inline-block;
}
.courses__button-container {
  display: flex;
}
@media (max-width: 768px) {
  .courses {
    padding-bottom: 72px;
  }
  .courses__header {
    margin-bottom: 50px;
  }
  .courses__title {
    width: 90%;
    padding: 20px 0;
  }
  .courses__banner {
    flex-direction: row;
    padding: 15px 20px;
    margin-bottom: 50px;
  }
  .courses__banner-icon {
    width: 40px;
    height: 40px;
  }
  .courses__banner-icon.sp {
    display: inline-block;
  }
  .courses__banner-icon.pc {
    display: none;
  }
  .courses__banner-text {
    font-size: 21px;
    line-height: 32px;
  }
  .courses__banner-text .sp {
    display: inline-block;
  }
  .courses__container {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    height: auto;
    gap: 30px;
    margin-bottom: 50px;
  }
  .courses__box {
    transform: translate(0px, 0px);
    width: 100%;
    max-width: 100%;
  }
  .courses__exemption-box {
    transform: translate(0px, 0px);
    width: 100%;
    max-width: 100%;
  }
  .courses__schedule-table.pc {
    display: none;
  }
  .courses__schedule-table.sp {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    width: 90%;
    max-width: 90%;
    margin: 0 auto 50px;
    font-size: 21px;
    font-weight: normal;
  }
  .courses__schedule-table.sp thead tr th {
    background-color: #FEB215;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .courses__schedule-table.sp tbody .table-row .left-cell {
    background-color: #F8DD49;
  }
  .courses__schedule-table.sp tbody .table-row:nth-child(4) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .courses__schedule-table.sp tbody td {
    padding: 15px 0;
    text-align: center;
    border: 1px solid #FEB215;
  }
  .courses__schedule-table.sp tbody tr:nth-child(3) td span {
    font-family: "Noto Sans";
    font-weight: normal;
  }
  .courses__schedule-table.sp tbody tr:nth-child(3) td:first-child {
    border-bottom-left-radius: 0;
  }
  .courses__schedule-table.sp tbody tr:nth-child(3) td:last-child {
    border-bottom-right-radius: 0;
  }
  .courses__schedule-table.sp tbody tr:nth-child(4) td:first-child {
    border-bottom-left-radius: 5px;
  }
  .courses__schedule-table.sp tbody tr:nth-child(4) td:last-child {
    border-bottom-right-radius: 5px;
  }
  .courses__curriculum {
    width: 90%;
  }
  .courses__curriculum-title {
    font-size: 21px;
  }
  .courses__curriculum-item:nth-child(even) {
    display: block;
  }
  .courses__curriculum-line, .courses__curriculum-time {
    display: none;
  }
  .courses__price {
    width: 90%;
    max-width: 90%;
  }
  .courses__price-title {
    font-size: 21px;
  }
  .courses__price-value {
    font-size: 48px;
  }
  .courses__price-unit {
    font-size: 32px;
  }
  .courses__price-includes {
    -moz-text-align-last: left;
         text-align-last: left;
    padding: 32px 10px 24px;
    margin-bottom: 50px;
  }
  .courses__price-includes .sp {
    display: inline-block;
  }
  .courses__price-includes-text {
    margin: 0 auto;
  }
}

.schedule {
  margin: 0 auto;
  padding-bottom: 130px;
}
.schedule .course__title .sp {
  display: none;
}
.schedule__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  max-width: 90%;
  margin: 0 auto;
}
.schedule__item {
  position: relative;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 60px 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.schedule__period {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url("../media/schedule_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.schedule__period-text {
  color: #333333;
  font-weight: bold;
  font-size: 21px;
}
.schedule__content {
  max-width: 270px;
  width: 270px;
  margin: 0 auto;
  min-height: 550px;
}
.schedule__day {
  font-size: 16px;
  background-color: #FEB215;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 10px;
}
.schedule__info {
  margin-bottom: 8px;
}
.schedule__info-label {
  background-color: #F8DD49;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.schedule__info-text {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0;
  color: #333333;
}
.schedule__info-text--note p {
  line-height: 30px;
  margin-bottom: 10px;
}
.schedule__button-container {
  display: flex;
}
.schedule__button-container .apply-button-text {
  font-size: 24px;
  line-height: 24px;
  padding: 0;
}
.schedule__button-container .arrow-icon {
  right: -10px;
}

@media (max-width: 768px) {
  .schedule {
    padding-bottom: 72px;
  }
  .schedule .courses__title {
    -moz-text-align-last: left;
         text-align-last: left;
    padding: 20px 30px;
  }
  .schedule .courses__title .sp {
    display: inline-block;
  }
  .schedule__grid {
    grid-template-columns: 1fr;
  }
  .schedule__title {
    font-size: 24px;
    padding: 8px 20px;
  }
  .schedule__period {
    width: 60px;
    height: 60px;
    left: 20px;
  }
  .schedule__period-text {
    font-size: 16px;
  }
  .schedule__content {
    min-height: 450px;
    max-width: 80%;
    width: 80%;
  }
}
.faq__list {
  margin: 40px auto 0;
  width: 90%;
  list-style: none;
}
.faq__item {
  margin-bottom: 28px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.faq__question {
  background-color: #F8DD49;
  padding: 12px 24px;
  display: flex;
  align-items: center;
}
.faq__question-label, .faq__answer-label {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin-right: 13px;
  flex-shrink: 0;
  border: 1px solid #FEB215;
  font-family: "Noto Sans";
}
.faq__question-label {
  background-color: white;
  color: #333333;
}
.faq__question-text {
  font-size: 24px;
  padding: 5px 10px;
}
.faq__answer {
  background-color: white;
  padding: 12px 24px;
  border: 1px solid #e0e0e0;
  border-top: none;
  display: flex;
}
.faq__answer.flex-center {
  align-items: center;
}
.faq__answer-label {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #2FB191;
}
.faq__answer-content {
  flex-grow: 1;
}
.faq__answer-content p {
  font-size: 16px;
  line-height: 25px;
}
.faq__note {
  font-size: 12px;
  color: #227762;
  margin-top: 32px;
}
.faq__button {
  display: inline-block;
  background-color: #2FB191;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .faq__answer.flex-center {
    align-items: start;
  }
}
.footer__image {
  width: 100%;
  overflow: hidden;
}
.footer__image img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer__text {
  margin: 0 auto;
  background-color: #F8DD49;
  padding: 20px 0;
}
.footer__text p {
  font-size: 12px;
  text-align: center;
  color: #333333;
  font-family: "Noto Sans";
}/*# sourceMappingURL=style.css.map */